.footer {
  background-color: var(--cor-fundo2);
  border-top: 1px solid var(--cor-borda);
  padding: 1.5rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.texto {
  color: var(--cor-texto);
  font-size: 0.95rem;
  font-weight: 600;
}

.sub {
  color: var(--cor-texto-fraco);
  font-size: 0.8rem;
}